---
layout: default
title: Maintenance Duties
---
<h1>{{ page.title }}</h1>
<h2 class="header2" id="Contents">Contents</h2>
<p class="list-1">&bull;&nbsp; <a href="#Introduction">1.1 Introduction</a></p>
<p class="list-1">&bull;&nbsp; <a href="#MaintenanceTasks">1.2 Maintenance Tasks</a></p>
<p class="list-1">&bull;&nbsp; <a href="#DimabrushSystemImpact">1.3 Dimabrush System Impact</a></p>
<p class="list-1">&bull;&nbsp; <a href="#TrainingNeedsandChallenges">1.4 Training Needs and Challenges</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Planningrestorationroutes">1.4.1 Planning restoration routes</a></p>
<p class="list-1">&bull;&nbsp; <a href="#MarketSupportandRationale">1.5 Market Support and Rationale</a></p>
<p class="list-1">&bull;&nbsp; <a href="#QualificationsandContributions">1.6 Qualifications and Contributions</a></p>
<p class="list-1">&bull;&nbsp; <a href="#StartingDate">1.7 Starting Date</a></p>
<p class="empty">&nbsp;</p>
<h2 id="Introduction">1.1 - Introduction</h2>
<p class="empty">&nbsp;</p>
<p>The Dimabrush system has changed how we do store maintenance. It requires more focus on a detailed floor restoration process that needs extra time and attention. This means we have to adapt our operations to meet the new corporate standards. Because of this, I feel it is now important to have a Maintenance Academy Trainer.</p>
<p class="empty">&nbsp;</p>
<h2 id="MaintenanceTasks">1.2 - Maintenance Tasks</h2>
<p class="empty">&nbsp;</p>
<p>Our current maintenance tasks involve a range of responsibilities. This includes sweeping, scrubbing, managing garbage and recycling, maintaining spill stations, the creation of cardboard and plastic bails, and ensuring the overall cleanliness of the sales floor. Our current tasks require attention to detail and efficiency to meet the store's standards.</p>
<p class="empty">&nbsp;</p>
<h2 id="DimabrushSystemImpact">1.3 - Dimabrush System Impact</h2>
<p class="empty">&nbsp;</p>
<p>The Dimabrush system has changed how we maintain the store, putting more demand on the Maintenance team for new floor restoration efforts. To adapt efficiently, we need a dedicated Maintenance Academy Trainer. Retraining employees for their current tasks is vital, ensuring they have time for sales floor maintenance. Our current Academy Trainer handles cashiers and customer service, but adding more time for managing maintenance employees, which they lack, could impact their effectiveness towards customers in the store, affecting our CFF scores.</p>
<p class="empty">&nbsp;</p>
<h2 id="TrainingNeedsandChallenges">1.4 - Training Needs and Challenges</h2>
<p class="empty">&nbsp;</p>
<p class="list-1">&bull;&nbsp; When to use 400 Grit restoration discs</p>
<p class="list-1">&bull;&nbsp; When to use 1000 Grit restoration discs</p>
<p class="list-1">&bull;&nbsp; When to use 1000 Grit polymer discs</p>
<p class="list-1">&bull;&nbsp; When and how to change disc blades</p>
<p class="list-1">&bull;&nbsp; Proper use for the Minuteman (Gary) and T500 (Christine) scrubbers</p>
<p class="empty">&nbsp;</p>
<p>To adjust to the new system, we need to retrain our maintenance team. It's crucial to ensure they can handle their tasks efficiently and utilize the extra time for sales floor maintenance. However, our current Academy Trainer, managing cashiers and customer service, might find it tough to cover all the details of maintenance tasks. That's why we need a dedicated Maintenance Academy Trainer, to specialize in the unique training requirements of our maintenance team, making them more effective and focused.</p>
<p class="empty">&nbsp;</p>
<p class="empty">&nbsp;</p>
<h3 id="Planningrestorationroutes">1.4.1 - Planning restoration routes</h3>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/empty_floor.jpg" alt="empty_floor" %}</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/restoration_floor_plan.jpg" alt="restoration_floor_plan" %}</p>
<p class="empty">&nbsp;</p>
<p>Another crucial reason for having a dedicated Maintenance Academy Trainer is to ensure the efficient execution of the restoration process. The wear and tear on restoration discs necessitate timely replacements, especially before completing a full restoration of the sales floor. After which, maintaining an appropriate inventory of polymer discs will be essential for daily use with the Minuteman and T500 scrubbers ensuring a consistent and polished appearance, aligning with the standards set by the new Dimabrush system.</p>
<p class="empty">&nbsp;</p>
<h2 id="MarketSupportandRationale">1.5 - Market Support and Rationale</h2>
<p class="empty">&nbsp;</p>
<p>The implementation of the Dimabrush system is a Market initiative. In support of this transition, it stands to reason there will be additional resources and budget allocations earmarked to assist store managers in meeting the updated standards. This includes additional employees, in our case a new cart associate and Maintenance Academy Trainer, to meet the increased demands on store maintenance.</p>
<p class="empty">&nbsp;</p>
<h2 id="QualificationsandContributions">1.6 - Qualifications and Contributions</h2>
<p class="empty">&nbsp;</p>
<p>Working for over two years now, I have actively sought opportunities to enhance my skills and contribute significantly to our daily operations. I have 14 badges and I already know various facets of store operations. I've taken the initiative to cross-train in roles such as cashier, online delivery pickup, cart associate, maintenance, janitorial, and PLE operation.</p>
<p class="empty">&nbsp;</p>
<p>This has not only allowed me to be versatile across departments but has helped improve the overall efficiency of our store. While my skills in cashiering and online delivery pickup may not be frequently utilized, my cross-training in maintenance and PLE operation has proven invaluable. On a few occasions after and many occasions prior to Hailey becoming an Operations Manager, when Ethan and Michelle were not present or at lunch, I was the sole certified individual for PLE operation. I made sure that trucks were unloaded during unexpected situations.</p>
<p class="empty">&nbsp;</p>
<p>Additionally, I have always been proactive and address challenges when I see them. When Hailey was the MRA, there was a shortage of paper towels and toilet paper and I knew she was being asked back then by Igor about the situation. All I did was take the initiative to communicate our needs and ensure that maintenance supplies were ordered. After doing this for a few weeks she said, "Thank you for caring." This approach continues, as I am currently working towards ensuring the spill stations are well-equipped and appropriately signed. Whenever issues arise, such as the recent need for carts with locking wheels, I have taken prompt action using available resources to correct the situation.</p>
<p class="empty">&nbsp;</p>
<p>This foundation of skills and experiences positions me as a valuable asset to assume the role of Maintenance Academy Trainer, contributing not only to the current needs of the maintenance team but also aligning with the evolving demands the maintenance team is facing with the new Dimabrush system.</p>
<p class="empty">&nbsp;</p>
<h2 id="StartingDate">1.7 - Starting Date</h2>
<p class="empty">&nbsp;</p>
<p>If approved, I'd like to receive the Academy Trainer badge at your earliest convenience. As an example by February 14th. If more time is needed to decide I understand, however, even before I receive the badge, I would like to communicate with store management to clarify expectations. Particularly regarding morning maintenance tasks between 5am and 7am. Rather than having employees doing whatever they feel like, inventing new things to do that do not help complete their immediate duties, not really doing anything at all between 5am and 12am, and then claiming they are behind when that's not really possible with current responsibilities. Morning maintance should be done with all 15 cans of garbage, bathrooms, and sweeping the floor in the first 3 hours of the day unless they made a bail or they were asked to do some small side project. Which there should be no side projects until all duites are completed.</p>
<p class="empty">&nbsp;</p>
<p>I am happy to work 7am to 4pm as needed. However, due to my wife's temporary work schedule change, I request that these shifts officially begin on February 27th. (not before please) Because I have complicated transportation issues.</p>
<p class="empty">&nbsp;</p>
<p>Also with the changes would it be possible for Tony to work 7am to 4pm shifts on Saturdays or Sundays, as needed, and 7am to 12pm on other days, based on store needs to help with my transportation issues. This would greatly help me with transportation issues as my wife works Monday through Friday.</p>
</div>
