---
layout: default
title: Concern
---
<h1>{{ page.title }}</h1>
<h2 class="header2" id="Contents">Contents</h2>
<p class="list-1">&bull;&nbsp; <a href="#Introduction">2.1 Introduction</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Wednessdaythe14th">2.2 Wednessday the 14th</a></p>
<p class="list-1">&bull;&nbsp; <a href="#AditisRequest">2.3 Aditi's Request</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Confrontation">2.4 Confrontation</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Discussion">2.5 Discussion</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Forcedphysicalcontact">2.6 Forced physical contact</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Planningrestorationroutes">2.6.1 Planning restoration routes</a></p>
<p class="list-2">&bull;&nbsp; <a href="#WalmartTrainingVideo">2.6.2 Walmart Training Video</a></p>
<p class="list-1">&bull;&nbsp; <a href="#MarketSupportandRationale">2.7 Market Support and Rationale</a></p>
<p class="list-1">&bull;&nbsp; <a href="#QualificationsandContributions">2.8 Qualifications and Contributions</a></p>
<p class="list-1">&bull;&nbsp; <a href="#StartingDate">2.9 Starting Date</a></p>
<p class="empty">&nbsp;</p>
<h2 id="Introduction">2.1 - Introduction</h2>
<p class="empty">&nbsp;</p>
<p>I will attempt to explain the following:</p>
<p class="empty">&nbsp;</p>
<p class="list-1">&bull;&nbsp; The Confrontation</p>
<p class="list-1">&bull;&nbsp; Supporting context</p>
<p class="list-1">&bull;&nbsp; The ongoing issue</p>
<p class="list-1">&bull;&nbsp; Repeated behaveior</p>
<p class="list-1">&bull;&nbsp; My concerns</p>
<p class="list-1">&bull;&nbsp; A possible Consideration</p>
<p class="empty">&nbsp;</p>
<p>There is a lot leading up to this and there is a lot to unpack for this concern. This scales to any device such as a tablet, phone, or PC. Please take the time to read all of this regardless of how much information there is. Otherwise there is no context and there won't be any understanding of the situation.</p>
<p class="empty">&nbsp;</p>
<p>I won't be discussing how I abruptly stated to Aditi that I needed to talk her and how I was asking Jordan to help in the conversation. That is specific to me and I could have handled that better and I hold myself accountable for my actinos. However, I would like that to be discused seperatly and request that the events are not taken out of context. That doesn't mean I am not accepting responsibility for my actions, simply that there are extranuiationg circumstances.</p>
<p class="empty">&nbsp;</p>
<h2 id="Wednessdaythe14th">2.2 - Wednessday the 14th</h2>
<p class="empty">&nbsp;</p>
<p>When I arrived at work at 7am I noticed the parkinglot was a mess. There was a full garbage bag of garbage and a full paper bag of garbage in one of the parking spaces. When I entered the store I noticed that the garbage cans in the entry way and the customer side of the bottleroom had not been taken care of. As I walked to the break room I noticed that the sales floor had not been swept. Once I arrived at the break room I noticed paper towles and other trash on the floor. The garbage can by the entrance to to break room and the garbage can in the breakroom had not been taken care of. It also appeared that the bathrooms had not been attended to yet. Later around 9am, taking out the garbage for the customer side of the bottleroom I noticed the sink was clogged.</p>
<p class="empty">&nbsp;</p>
<h2 id="AditisRequest">2.3 - Aditi's Request</h2>
<p class="empty">&nbsp;</p>
<p>Between 8am and 9am Aditi had taken a rolling bin to the front of the store and was removing empty flower buckets. Some of the flower buckets were full of water. Aditi was dumping out the water from the empty the flower buckets in the bottle room. There was no visible sign that Aditi was spilling water on the floor by emptying the buckets. After she had done what she wanted she asked me to take the rolling bin that she brought to the front of the store outside and use it to collect the two bags of garbage.</p>
<p class="empty">&nbsp;</p>
<h2 id="Confrontation">2.4 - Confrontation</h2>
<p class="empty">&nbsp;</p>
<p>As I started to head outside I heard a very loud and shrill whistle and someone yelled, "Hey!" but when I turned around I didn't see anyone. I continued to push the trash bin so I could collect the trash and started putting the trash in the bin. As I was doing so carlos arrived with a shopping cart. He started removing the flower buckets and buckets of the chocolate dip for the donuts.</p>
<p class="empty">&nbsp;</p>
<p>He was upset and while he did not yell or use explitives he spoke to me in anger and he spoke to me in an assertive and commanding voice so that I understood I was not to repeat this behaviour in the future. He repromanded me because of the fact that he felt I took what he needed to perform his duties, took what he prepared to perform his duties, that I am always taking things he is using to perform his duties, and any time I need to do something to get my own things to perform my duties.</p>
<p class="empty">&nbsp;</p>
<p>At that point I could not believe what I was hearing. I was instructed by a lead to collect the garbage in the parking lot using the bin provided to me. I then very adamantly stated that we needed to go inside and have a talk with Aditi. Carlos lost it implying that I was being unreasonable. He went as far as to suggest we resolve the situation and while I forget how he put it, that we do so over by the employee smoking area. I could not understand him clearly so I don't know if he meant to verbally or physically resolve the situation, outside. Because I was doing what I was instructed to do I then mentioned that I would not allow him to use his rethoric to support his narrative that he is somehow always the victum of something that I am doing or saying about him.</p>
<p class="empty">&nbsp;</p>
<p>As I netered the building I sought help from both Aditi and Jordan so that I could try to resolve this ongoing issue. Aditi was confused as to why I needed to speak to her and what was going on however, Jordan said as he continued to walk out of the building that he is off the clock. I thought he was a lead and never off the clock. Once I got to the personel office Ethan was there so I hoped to at least get some support for him to what I was trying to discuss . The problem is that Aditi felt it better to only talk to me and carlos in the AP office so I didn't press the matter.</p>
<p class="empty">&nbsp;</p>
<h2 id="Discussion">2.5 - Discussion</h2>
<p class="empty">&nbsp;</p>
<p>Carlos wanted to go first and he started by explaining that from his point of view this isn't the first time this has happened. Carlos shared that he feels I am always taking his stuff and that for the past few monts I have gone as far as to take chemicals from him but I don't put them back. He continued to say that it bothers him that I take his stuff but he just decided to not say anything. Then he explained what he felt happend outside and what he felt he was trying to explain to me and that I got upset about it. Expressing his confusion as to why I was upset when he is just trying to ask me not to take his stuff.</p>
<p class="empty">&nbsp;</p>
<p>I waited until he finished and then Aditi wanted me to speak but I asked her to explain what I was doing. Aditi explained that she had seen the cart in the Juice isle and took it to the front of the store herself. She explained that she was using it to take care of the flower buckets in the display. Reitering that I had not takin the bin so would have had no idea Carlos was using it.</p>
<p class="empty">&nbsp;</p>
<p>Carlos' attitude and body language suddenly changed. He started that he had no idea what ahppened and then started appoligizing. Repeating that he didn't know Aditi had taken it and that I had nothing to do with it. Then Carlos started to explain that I could have told him that and saying things like were are all adults and could simply communicate more.</p>
<p class="empty">&nbsp;</p>
<p>I hoped that Aditi would explain that she had asked me to go outside and get the garbage using the bin but she didn't. She simply explained her point of view in that we are all a team and should work together. If someone needs something to perform a task then don't worry about it. If there are two bins and someone takes one, go get the other one. She contined to offer a positive perspective stating that Carlos and I, if we worked together as a team, since we are both part of maintance, would have a greater impart on the store. She mentioned we should talk about things and work things out.</p>
<p class="empty">&nbsp;</p>
<h2 id="Forcedphysicalcontact">2.6 - Forced physical contact</h2>
<p class="empty">&nbsp;</p>
<p>Don't blow this out of properotion however, after Aditi explained her perspective and Carlos was starting to understand that I didn't take the bin, and started agreing with what Aditi was saying, this is when Aditi felt we should shake hands, make amends, and move on. However, Carlos extended his hand in order to shake hadns but also wanted to hug me. He did so twice while trying to express his feelings. I am in no way asking for any apoligies from Aditi or Carlos but I would like to mention that I dislike forced physical contact even under the circumstances.</p>
<p class="empty">&nbsp;</p>
<p class="empty">&nbsp;</p>
<p class="empty">&nbsp;</p>
<p class="list-1">&bull;&nbsp; When to use 400 Grit restoration discs</p>
<p class="list-1">&bull;&nbsp; When to use 1000 Grit restoration discs</p>
<p class="list-1">&bull;&nbsp; When to use 1000 Grit polymer discs</p>
<p class="list-1">&bull;&nbsp; When and how to change disc blades</p>
<p class="list-1">&bull;&nbsp; Proper use for the Minuteman (Gary) and T500 (Christine) scrubbers</p>
<p class="empty">&nbsp;</p>
<p>To adjust to the new system, we need to retrain our maintenance team. It's crucial to ensure they can handle their tasks efficiently and utilize the extra time for sales floor maintenance. However, our current Academy Trainer, managing cashiers and customer service, might find it tough to cover all the details of maintenance tasks. That's why we need a dedicated Maintenance Academy Trainer, to specialize in the unique training requirements of our maintenance team, making them more effective and focused.</p>
<p class="empty">&nbsp;</p>
<p class="empty">&nbsp;</p>
<h3 id="Planningrestorationroutes">2.6.1 - Planning restoration routes</h3>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/empty_floor.jpg" alt="empty_floor" %}</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/restoration_floor_plan.jpg" alt="restoration_floor_plan" %}</p>
<p class="empty">&nbsp;</p>
<p>Another crucial reason for having a dedicated Maintenance Academy Trainer is to ensure the efficient execution of the restoration process. The wear and tear on restoration discs necessitate timely replacements, especially before completing a full restoration of the sales floor. After which, maintaining an appropriate inventory of polymer discs will be essential for daily use with the Minuteman and T500 scrubbers ensuring a consistent and polished appearance, aligning with the standards set by the new Dimabrush system.</p>
<p class="empty">&nbsp;</p>
<h3 id="WalmartTrainingVideo">2.6.2 - Walmart Training Video</h3>
<p class="empty">&nbsp;</p>
<p><a  href="https://www.youtube.com/watch?v=zGjKQE8w&#x5F;&#x5F;I" >Training Video</a> </p>
<p class="empty">&nbsp;</p>
<h2 id="MarketSupportandRationale">2.7 - Market Support and Rationale</h2>
<p class="empty">&nbsp;</p>
<p>The implementation of the Dimabrush system is a Market initiative. In support of this transition, it stands to reason there will be additional resources and budget allocations earmarked to assist store managers in meeting the updated standards. This includes additional employees, in our case a new cart associate and Maintenance Academy Trainer, to meet the increased demands on store maintenance.</p>
<p class="empty">&nbsp;</p>
<h2 id="QualificationsandContributions">2.8 - Qualifications and Contributions</h2>
<p class="empty">&nbsp;</p>
<p>Working for over two years now, I have actively sought opportunities to enhance my skills and contribute significantly to our daily operations. I have 14 badges and I already know various facets of store operations. I've taken the initiative to cross-train in roles such as cashier, online delivery pickup, cart associate, maintenance, janitorial, and PLE operation.</p>
<p class="empty">&nbsp;</p>
<p>This has not only allowed me to be versatile across departments but has helped improve the overall efficiency of our store. While my skills in cashiering and online delivery pickup may not be frequently utilized, my cross-training in maintenance and PLE operation has proven invaluable. On a few occasions after and many occasions prior to Hailey becoming an Operations Manager, when Ethan and Michelle were not present or at lunch, I was the sole certified individual for PLE operation. I made sure that trucks were unloaded during unexpected situations.</p>
<p class="empty">&nbsp;</p>
<p>Additionally, I have always been proactive and address challenges when I see them. When Hailey was the MRA, there was a shortage of paper towels and toilet paper and I knew she was being asked back then by Igor about the situation. All I did was take the initiative to communicate our needs and ensure that maintenance supplies were ordered. After doing this for a few weeks she said, "Thank you for caring." This approach continues, as I am currently working towards ensuring the spill stations are well-equipped and appropriately signed. Whenever issues arise, such as the recent need for carts with locking wheels, I have taken prompt action using available resources to correct the situation.</p>
<p class="empty">&nbsp;</p>
<p>This foundation of skills and experiences positions me as a valuable asset to assume the role of Maintenance Academy Trainer, contributing not only to the current needs of the maintenance team but also aligning with the evolving demands the maintenance team is facing with the new Dimabrush system.</p>
<p class="empty">&nbsp;</p>
<h2 id="StartingDate">2.9 - Starting Date</h2>
<p class="empty">&nbsp;</p>
<p>If approved, I'd like to receive the Academy Trainer badge at your earliest convenience. As an example by February 14th. If more time is needed to decide I understand, however, even before I receive the badge, I would like to communicate with store management to clarify expectations. Particularly regarding morning maintenance tasks between 5am and 7am. Rather than having employees doing whatever they feel like, inventing new things to do that do not help complete their immediate duties, not really doing anything at all between 5am and 12pm (7 hours which includes lunch), and then claiming they are behind when that's not really possible with current responsibilities. Morning maintance should be done with all 15 cans of garbage, bathrooms, and sweeping the floor in the first 3 hours of the day unless they made a bail or they were asked to do some small side project. Which there should be no side projects until all duites are completed.</p>
<p class="empty">&nbsp;</p>
<p>I am happy to work 7am to 4pm as needed. However, due to my wife's temporary work schedule change, I request that these shifts officially begin on February 27th. (not before please) Because I have complicated transportation issues.</p>
<p class="empty">&nbsp;</p>
<p>Also with the changes would it be possible for Tony to work 7am to 4pm shifts on Saturdays or Sundays, as needed, and 7am to 12pm on other days, based on store needs to help with my transportation issues. This would greatly help me with transportation issues as my wife works Monday through Friday.</p>
</div>
