---
layout: default
title: Concern
---
<h1>{{ page.title }}</h1>
<h2 class="header2" id="Contents">Contents</h2>
<p class="list-1">&bull;&nbsp; <a href="#Introduction">2.1 Introduction</a></p>
<p class="list-1">&bull;&nbsp; <a href="#TheConfrontation">2.2 The Confrontation</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Forcedphysicalcontact">2.2.1 Forced physical contact</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Supportingcontext">2.3 Supporting context</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Theongoingissue">2.4 The ongoing issue</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Repeatedbehavior">2.5 Repeated behavior</a></p>
<p class="list-1">&bull;&nbsp; <a href="#APossibleConsideration">2.6 A Possible Consideration</a></p>
<p class="empty">&nbsp;</p>
<h2 id="Introduction">2.1 - Introduction</h2>
<p class="empty">&nbsp;</p>
<p>I will attempt to explain the following:</p>
<p class="empty">&nbsp;</p>
<p class="list-1">&bull;&nbsp; The Confrontation</p>
<p class="list-1">&bull;&nbsp; Supporting context</p>
<p class="list-1">&bull;&nbsp; The ongoing issue</p>
<p class="list-1">&bull;&nbsp; Repeated behavior</p>
<p class="list-1">&bull;&nbsp; A Possible Consideration</p>
<p class="empty">&nbsp;</p>
<p>I am omitting specific conversation details, but we can discuss that in person if you wish to do so. Despite my abrupt initiation of a conversation with Aditi and how I sought Jordan's assistance, I take full responsibility for my actions. I request separate discussions about how I attempted to initiate the conversation due to context to avoid potential misconceptions.</p>
<p class="empty">&nbsp;</p>
<h2 id="TheConfrontation">2.2 - The Confrontation</h2>
<p class="empty">&nbsp;</p>
<p>Upon arriving at work at 7 am, I observed a messy parking lot, unattended garbage cans, unswept sales floors, and neglect in the break room. Around 9 am, while attending to the customer side of the bottleroom, I noticed the sink was clogged.</p>
<p class="empty">&nbsp;</p>
<p>Between 8 am and 9 am, Aditi was emptying out empty buckets from the Flower display using a rolling bin she had taken from the Juice isle and requested that I use the bin to collect garbage bags outside. While collecting garbage, Carlos confronted me, expressing frustration that I took what he needed for his duties. This led to a heated conversation about the misunderstanding. He also took items from the rolling bin as shown below.</p>
<p class="empty">&nbsp;</p>
<p>During our discussion in the AP office, Carlos asserted he was mistreated and was shocked to learn that Aditi moved the rolling bin without my involvement. Aditi emphasized teamwork and communication to resolve such issues positively.</p>
<p class="empty">&nbsp;</p>
<h3 id="Forcedphysicalcontact">2.2.1 - Forced physical contact</h3>
<p class="empty">&nbsp;</p>
<p>During our discussion in the AP office, Carlos attempted to reconcile by extending a handshake and a hug, at Aditi's request. I would like management to be aware that I am not comfortable with forced physical contact. In the future, I would prefer alternative means of reconciliation that respect my personal boundaries.</p>
<p class="empty">&nbsp;</p>
<h2 id="Supportingcontext">2.3 - Supporting context</h2>
<p class="empty">&nbsp;</p>
<p>{% include image-inline.html max-width="256px" file="img/buckets.jpg" alt="buckets" %}{% include image-inline.html max-width="256px" file="img/bucket_cleaning.jpg" alt="bucket_cleaning" %}{% include image-inline.html max-width="256px" file="img/scrubber.jpg" alt="scrubber" %}</p>
<p class="empty">&nbsp;</p>
<p>Carlos took items from the rolling bin, as mentioned. Before he approached me in the parking lot, he whistled loudly, yelled "Hey!" to get my attention, and brought a shopping cart, with the sole intention of collecting the chocolate icing and flower buckets. Subsequently, he proceeded to clean these items on company time within the bottleroom, leaving them in the shopping cart.</p>
<p class="empty">&nbsp;</p>
<p>Shortly after the incident, I noticed the autonomous scrubber operating in auto mode, in the area where I was attempting to familiarize myself with the new Dimabrush system.</p>
<p class="empty">&nbsp;</p>
<h2 id="Theongoingissue">2.4 - The ongoing issue</h2>
<p class="empty">&nbsp;</p>
<p>These examples are not all, but some of the issues I have faced in the past.</p>
<p class="empty">&nbsp;</p>
<p class="list-1">&bull;&nbsp; I was asked to maintain the sales floor with Carlos.</p>
<p class="list-1">&bull;&nbsp; Corey asked me to check a leak in the Ladies' room.</p>
<p class="list-1">&bull;&nbsp; Jacob asked me to talk to Ecolab.</p>
<p class="list-1">&bull;&nbsp; Igor has asked me to clean the bathrooms on several occasions on a day Carlos worked.</p>
<p class="list-1">&bull;&nbsp; Ethan asked me to resolve a clog in the urinal recently.</p>
<p class="list-1">&bull;&nbsp; Aditi asked me to collect garbage from the parking lot.</p>
<p class="empty">&nbsp;</p>
<p>Matt criticized me for communicating with Ecolab when I was instructed to do so. Carlos consistently disregards requests from me per supervisors' instructions, such as neglecting sweeping duties. He has objected and reprimanded me when I was requested to inspect a leak or assist with bathroom cleaning, demonstrating a pattern of resistance to cooperation. Moreover, his suggestions for resolving issues, like using a plunger for a clog, often conflicted with appropriate solutions, indicating a lack of effective problem-solving.</p>
<p class="empty">&nbsp;</p>
<h2 id="Repeatedbehavior">2.5 - Repeated behavior</h2>
<p class="empty">&nbsp;</p>
<p>When following management instructions, I often face reprimands from Carlos, who asserts a lead role he has self-appointed, despite not holding an official position of authority. Carlos, using rhetoric, portrays himself as a victim, fostering unnecessary conflicts. Despite being asked to actively resolve issues, he often merely suggests solutions, claiming busyness as a reason for not taking direct action. This recurring pattern raises concerns about unwarranted confrontations and narrative manipulation.</p>
<p class="empty">&nbsp;</p>
<h2 id="APossibleConsideration">2.6 - A Possible Consideration</h2>
<p class="empty">&nbsp;</p>
<p class="list-1">&bull;&nbsp; Grandiosity: Carlos consistently presents himself as the indispensable maintenance expert with 20 years of experience, asserting his unique importance.</p>
<p class="list-1">&bull;&nbsp; Lack of Empathy: Carlos has repeatedly refused to assist other employees with tasks, such as making bails, adding locking wheels to new carts, or collecting carts. He shows little interest in the needs of colleagues or the store, prioritizing his tasks over serving the customer.</p>
<p class="list-1">&bull;&nbsp; Need for Constant Admiration: Carlos seeks praise and validation, especially when sharing his so-called expertise, expecting affirmation despite the fact that his suggestions are often not effective resolutions to issues.</p>
<p class="list-1">&bull;&nbsp; Sense of Entitlement: Believing he deserves special treatment, Carlos often imposes his preferences without reciprocating cooperation. He refuses to help with tasks and makes excuses.</p>
<p class="list-1">&bull;&nbsp; Exploitation: Carlos employs rhetoric to create false conflicts, blaming others for the conflicts he initiates and portraying himself as innocent to shift responsibility.</p>
<p class="list-1">&bull;&nbsp; Envy and Jealousy: Carlos exhibits envy, especially when his suggestions are not accepted. He implies others are envious when conflicts arise, showcasing a tendency to project his feelings onto colleagues.</p>
<p class="empty">&nbsp;</p>
<p>Carlos consistently violates company standards and policies, displaying a lack of adherence to procedures, particularly in bathroom cleaning practices. This includes the improper use of disinfectants, neglecting essential cleaning steps in bathrooms, and disregarding the instructions from the Dimabrush representative about using soap with the scrubbers or disinfectant on the floor.</p>
<p class="empty">&nbsp;</p>
<p>This may mean that, in addition to potential dyslexia, learning disabilities, and illiteracy, there could be issues with short-term memory and possible narcissism.</p>
</div>
