---
layout: default
title: Performance
---
<h1>{{ page.title }}</h1>
<h2 class="header2" id="Contents">Contents</h2>
<p class="list-1">&bull;&nbsp; <a href="#Reminder">3.1 Reminder</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Accountability">3.2 Accountability</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Recently">3.3 Recently</a></p>
<p class="list-1">&bull;&nbsp; <a href="#PreviousConfrontation">3.4 Previous Confrontation</a></p>
<p class="list-1">&bull;&nbsp; <a href="#OngoingConcern">3.5 Ongoing Concern</a></p>
<p class="list-2">&bull;&nbsp; <a href="#NotesItookthatday">3.5.1 Notes I took that day</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Plasticbail">3.5.2 Plastic bail</a></p>
<p class="list-1">&bull;&nbsp; <a href="#CarlossocalledHandlingitat1000am">3.6 Carlos' so called "Handling it!" at 10:00am</a></p>
<p class="list-1">&bull;&nbsp; <a href="#HowCarlosHandleditat1200noon">3.7 How Carlos "Handled it!" at 12:00 noon</a></p>
<p class="list-1">&bull;&nbsp; <a href="#HowCarloshandlesthebottleroom">3.8 How Carlos handles the bottle room</a></p>
<p class="list-1">&bull;&nbsp; <a href="#HowCarloshandles">3.9 How Carlos handles...</a></p>
<p class="list-1">&bull;&nbsp; <a href="#HowCarloshandledthingsonJune4th">3.10 How Carlos handled things on June 4th</a></p>
<p class="list-2">&bull;&nbsp; <a href="#June4thToiletpapersoapandseatcoversinbothrestrooms">3.10.1 June 4th, Toilet paper, soap, and seat covers in both restrooms</a></p>
<p class="list-1">&bull;&nbsp; <a href="#HowCarloshandledthingsonJune5th">3.11 How Carlos handled things on June 5th</a></p>
<p class="list-1">&bull;&nbsp; <a href="#HowCarloshandledthingsonJune6th">3.12 How Carlos handled things on June 6th</a></p>
<p class="list-2">&bull;&nbsp; <a href="#NotesItookthatday1">3.12.1 Notes I took that day</a></p>
<p class="list-1">&bull;&nbsp; <a href="#MissingkeytoGary">3.13 Missing key to Gary</a></p>
<p class="list-1">&bull;&nbsp; <a href="#July3rdhowCarloshandlesit">3.14 July 3rd, how Carlos handles it</a></p>
<p class="list-2">&bull;&nbsp; <a href="#SpiltMilkJuly3rd">3.14.1 Spilt Milk, July 3rd</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Really">3.15 Really?</a></p>
<p class="empty">&nbsp;</p>
<h2 id="Reminder">3.1 - Reminder</h2>
<p class="empty">&nbsp;</p>
<p>Before I start I'd like to remind everyone that in March of 2023 we had some non standard wire to make bails with. At that time Hailey was suggesting to Carlos that he should wrap the wire around the bail several times. He was upset with her suggestion and told her he knew what he was doing. Only to fail and I had to clean up his mess. The next day when Nathan (nearing overtime) needed help making a bail Carlos said he was too busy, so I helped. Because at that time to feed the wire quickly it took two people. As soon as the wire was set I finished myself.</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/non_standard_wire.jpg" alt="non_standard_wire" %}</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/result_ignorance.jpg" alt="result_ignorance" %}</p>
<p class="empty">&nbsp;</p>
<p class="note"> It took me 4 hours to clean that up.</p>
<p class="empty">&nbsp;</p>
<p>Carlos is combative, unwilling to help other coworkers, does not perform his duties to walmart standards, has no integrity, leaves the parking lot on most days while on the clock, takes multiple breaks which is , and steals time from the company.</p>
<p class="empty">&nbsp;</p>
<h2 id="Accountability">3.2 - Accountability</h2>
<p class="empty">&nbsp;</p>
<p>Even though I am not privy to the details, I am sure many employees have recently been disciplined for taking long breaks or performance issues. It is very common and those people like Carlos behave in a manner that is intentional. Most people are held accountable for their actions but Carlos is not.</p>
<p class="empty">&nbsp;</p>
<p>I know I have been told that there are things I am not allowed to know. If I did know I may feel really bad because there could be more that is being done than I realize. Obviously that would change my opinion that Carlos is never held accountable for anything. However, it’s been nearly 3 years of the same behavior not a few months. So please understand my incredulity is warranted because of the length of time and how much I have reported.</p>
<p class="empty">&nbsp;</p>
<p>What I have been reporting is leaving the parking lot while on the clock, frequent breaks, stealing time from the company, and possible fraudulent lunch punches. All of which are violations of company policy.</p>
<p class="empty">&nbsp;</p>
<h2 id="Recently">3.3 - Recently</h2>
<p class="empty">&nbsp;</p>
<p>Tuesday, his first day back from vacation I was training Hamid and at 7:29 I saw Calros' truck leave the parking lot. I don't know if he was driving it and I say that because it was back at around 8:00am next to the reserved Police parking and then later gone at around 8:30am but Carlos was in the store at around 8:30am.</p>
<p class="empty">&nbsp;</p>
<p>The same was true for today, Wednesday. Around 10:42 as I was going home I saw Calros' truck leave the parking lot but no idea if he was actually driving it or a family member. Did Carlos take a late lunch approximately 15 minutes before 11:00am? Did Carlos go home early also?</p>
<p class="empty">&nbsp;</p>
<h2 id="PreviousConfrontation">3.4 - Previous Confrontation</h2>
<p class="empty">&nbsp;</p>
<p>On February 14th Carlos and I had a confrontation about the trash he had in the rolling bins. This led to his yelling at me about it in the parking lot and later lying to Additi explaining that I take his stuff that he has organized to do his job. Additi told him that she took the bin and instructed me to use it to collect trash in the parking lot. He was immediately was caught off guard when his lie backfired on him and started groveling and apologizing.</p>
<p class="empty">&nbsp;</p>
<p>He collected the containers, washed them, and stored them on company time.</p>
<p class="empty">&nbsp;</p>
<p><a  href="https://sharlikran.github.io/2-concern.html" >Previous Concern</a></p>
<p class="empty">&nbsp;</p>
<h2 id="OngoingConcern">3.5 - Ongoing Concern</h2>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/confrontation_pic.jpg" alt="confrontation_pic" %}</p>
<p class="empty">&nbsp;</p>
<p>On April 4th I took a picture of some trash to send to Hailey which prompted Carlos to yell at me about it and tell me it was none of my business. I’m paraphrasing but he explained that I need to stay in OPG and let him do his job. He can handle maintenance and that I need to stay out of it. He added that some lady just left that there and he had not gotten to it yet.</p>
<p class="empty">&nbsp;</p>
<p>I took the picture at 7:27am. He was outside before that time and saw it happen? Why didn’t he clean it up then? What time did this alleged lady leave the garbage in the parking lot?</p>
<p class="empty">&nbsp;</p>
<h3 id="NotesItookthatday">3.5.1 - Notes I took that day</h3>
<p class="empty">&nbsp;</p>
<p class="list-1">&bull;&nbsp; 7:22 On Break (Could have been on break already)</p>
<p class="list-1">&bull;&nbsp; 7:25 Puts On Coat at and goes to smoke</p>
<p class="list-1">&bull;&nbsp; 7:33 Still smoking</p>
<p class="list-1">&bull;&nbsp; 7:58 Reprimanded for taking picture</p>
<p class="list-1">&bull;&nbsp; 10:00 - 10:10 Back from lunch</p>
<p class="list-1">&bull;&nbsp; 10:45 Purchasing something and taking break</p>
<p class="list-1">&bull;&nbsp; 12:04 Seemed to be in his truck</p>
<p class="empty">&nbsp;</p>
<p class="note"> Essentially he starts a pattern of multiple breaks, smoke breaks, being out of uniform doing essentially nothing, then a lunch, then more breaks and doing nothing which starts at around 7:00am and it lasts until 12:00 noon.</p>
<p class="empty">&nbsp;</p>
<h3 id="Plasticbail">3.5.2 - Plastic bail</h3>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/april_plastic_bail.jpg" alt="april_plastic_bail" %}</p>
<p class="empty">&nbsp;</p>
<p>Also on April 4th Carlos was asked to make a plastic bail. I made it, not Carlos.</p>
<p class="empty">&nbsp;</p>
<h2 id="CarlossocalledHandlingitat1000am">3.6 - Carlos' so called "Handling it!" at 10:00am</h2>
<p class="empty">&nbsp;</p>
<input type="checkbox" id="spoiler1" />
<label for="spoiler1">Examples</label>
<div class="main-content">
<p>{% include image_thumbnail.html file="img/20240404_101735.jpg" alt="20240404_101735" %}</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240404_102016.jpg" alt="20240404_102016" %}</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240404_101809.jpg" alt="20240404_101809" %}</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240404_101802.jpg" alt="20240404_101802" %}</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240404_101741.jpg" alt="20240404_101741" %}</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240404_103103.jpg" alt="20240404_103103" %}</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240404_102247.jpg" alt="20240404_102247" %}</p>
</div>
<p class="empty">&nbsp;</p>
<p>There was urine from the left urinal into the stall. I had to clean the floor and the toilet seat before I could use it. However, I left the majority of it there to see how well Carlos would handle it.</p>
<p class="empty">&nbsp;</p>
<h2 id="HowCarlosHandleditat1200noon">3.7 - How Carlos "Handled it!" at 12:00 noon</h2>
<p class="empty">&nbsp;</p>
<input type="checkbox" id="spoiler2" />
<label for="spoiler2">Examples</label>
<div class="main-content">
<p>{% include image_thumbnail.html file="img/20240404_115808.jpg" alt="20240404_115808" %}</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240404_115818.jpg" alt="20240404_115818" %}</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240404_115855.jpg" alt="20240404_115855" %}</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240404_115826.jpg" alt="20240404_115826" %}</p>
</div>
<p class="empty">&nbsp;</p>
<p>Carlos had not handled it at all. The customers handled it more than he did by throwing toilet paper on the floor. He also didn't empty the trash or fill the toilet paper.</p>
<p class="empty">&nbsp;</p>
<h2 id="HowCarloshandlesthebottleroom">3.8 - How Carlos handles the bottle room</h2>
<p class="empty">&nbsp;</p>
<p>On April 4th how Carlos handles the bottle room</p>
<p class="empty">&nbsp;</p>
<input type="checkbox" id="spoiler3" />
<label for="spoiler3">Examples</label>
<div class="main-content">
<p>{% include image_thumbnail.html file="img/20240404_115617.jpg" alt="20240404_115617" %}</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240404_115625.jpg" alt="20240404_115625" %}</p>
</div>
<p class="empty">&nbsp;</p>
<p>On April 4th how Ahmed handled the bottle room.</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240405_071311.jpg" alt="20240405_071311" %}</p>
<p class="empty">&nbsp;</p>
<h2 id="HowCarloshandles">3.9 - How Carlos handles...</h2>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240419_070024.jpg" alt="20240419_070024" %}</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240419_070116.jpg" alt="20240419_070116" %}</p>
<p class="empty">&nbsp;</p>
<p>That is how he handles filling the soap, when there is soap on the cart.</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240424_071349.jpg" alt="20240424_071349" %}</p>
<p class="empty">&nbsp;</p>
<p>That is how he handles moping the floor every day with the same water from the day before.</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240426_110736.jpg" alt="20240426_110736" %}</p>
<p class="empty">&nbsp;</p>
<p>That is how he handles cleaning with window cleaner. Aww, he even put the window cleaner in the disinfectant bottle because he is on top of things. Am I right? Or am I right?</p>
<p class="empty">&nbsp;</p>
<h2 id="HowCarloshandledthingsonJune4th">3.10 - How Carlos handled things on June 4th</h2>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240604_120447.jpg" alt="20240604_120447" %}</p>
<p class="empty">&nbsp;</p>
<p>If Tracy had not told me about this I would have gone home that day and this would have stayed this way. I cleaned it up, not Carlos. Then when I went to the parking lot after I finished none of Carlos' cars were to be found. That was taken at 12:04pm, did he leave early that day? Check his time punches. If he didn't leave early then I would bet he was outside, hiding, or he had left the parking lot.</p>
<p class="empty">&nbsp;</p>
<h3 id="June4thToiletpapersoapandseatcoversinbothrestrooms">3.10.1 - June 4th, Toilet paper, soap, and seat covers in both restrooms</h3>
<p class="empty">&nbsp;</p>
<p>While cleaning that toilet I looked at how well Carlos was handling maintaining the restrooms by 12:00pm. Want to know how well they were stocked?</p>
<p class="empty">&nbsp;</p>
<input type="checkbox" id="spoiler4" />
<label for="spoiler4">Examples</label>
<div class="main-content">
<p>{% include image_thumbnail.html file="img/20240604_121219.jpg" alt="20240604_121219" %}</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240604_121226.jpg" alt="20240604_121226" %}</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240604_121655.jpg" alt="20240604_121655" %}</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240604_121705.jpg" alt="20240604_121705" %}</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240604_121739.jpg" alt="20240604_121739" %}</p>
</div>
<p class="empty">&nbsp;</p>
<p>You didn't even need to look, did you?</p>
<p class="empty">&nbsp;</p>
<h2 id="HowCarloshandledthingsonJune5th">3.11 - How Carlos handled things on June 5th</h2>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240605_095749.jpg" alt="20240605_095749" %}</p>
<p class="empty">&nbsp;</p>
<p>With the usual neglect everywhere else. I opened the toilet paper holder before taking the picture. It was like that because the previous day's supply, which I showed above, ran out.</p>
<p class="empty">&nbsp;</p>
<h2 id="HowCarloshandledthingsonJune6th">3.12 - How Carlos handled things on June 6th</h2>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240606_114634.jpg" alt="20240606_114634" %}</p>
<p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240606_120033.jpg" alt="20240606_120033" %}</p>
<p class="empty">&nbsp;</p>
<h3 id="NotesItookthatday1">3.12.1 - Notes I took that day</h3>
<p class="empty">&nbsp;</p>
<p class="list-1">&bull;&nbsp; 8:31 On Break</p>
<p class="list-1">&bull;&nbsp; 8:40 At Car</p>
<p class="list-1">&bull;&nbsp; 8:56 Going inside store</p>
<p class="list-1">&bull;&nbsp; 9:17 Lunch, left parking lot</p>
<p class="list-1">&bull;&nbsp; 11:11 On computer</p>
<p class="list-1">&bull;&nbsp; 12:11 Gets into his car</p>
<p class="list-1">&bull;&nbsp; 12:25 Walks toward entrance</p>
<p class="list-1">&bull;&nbsp; 12:40 Sitting in break room</p>
<p class="list-1">&bull;&nbsp; 12:53 Done with break</p>
  <p class="list-2">&bull;&nbsp; Goes to have a smoke break</p>
  <p class="list-2">&bull;&nbsp; Gets noticed by Jacob and arranges a few carts</p>
  <p class="empty">&nbsp;</p>
<p>If you watch him on camera that day from 12:00pm to 1:00pm you will notice he straightened up a few carts in the entrance that the customers left there but, he did not get carts during that hour. What? The cashiers can do that! You guys have no idea the amount of time Carlos steals from the company. He did nothing for 1 hour. He did nothing all day but during that hour he took two breaks back to back.</p>
  <p class="empty">&nbsp;</p>
<p>However, he does the same thing every day. Between 7:00am and 12:00pm he manages to go around, just moving things, riding Gary a little, out of uniform, pushing the broom a little, and doing basically nothing for 5 hours. By 12:00pm he has been there 7 hours including his lunch with nothing to show for it.</p>
  <p class="empty">&nbsp;</p>
<h2 id="MissingkeytoGary">3.13 - Missing key to Gary</h2>
  <p class="empty">&nbsp;</p>
<p>I knew the keys were missing on June 7th, and I reported it that day, and many times after. The machine was left on so I just used it. What took you guys so long? You only went looking for them today?</p>
  <p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240607_140454.jpg" alt="20240607_140454" %}</p>
  <p class="empty">&nbsp;</p>
<h2 id="July3rdhowCarloshandlesit">3.14 - July 3rd, how Carlos handles it</h2>
  <p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240703_065518.jpg" alt="20240703_065518" %}</p>
  <p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240703_091844.jpg" alt="20240703_091844" %}</p>
  <p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240703_093501.jpg" alt="20240703_093501" %}</p>
  <p class="empty">&nbsp;</p>
<p>{% include image_thumbnail.html file="img/20240703_103936.jpg" alt="20240703_103936" %}</p>
  <p class="empty">&nbsp;</p>
<h3 id="SpiltMilkJuly3rd">3.14.1 - Spilt Milk, July 3rd</h3>
  <p class="empty">&nbsp;</p>
<p><a  href="https://youtu.be/Mdcdn_NMhY8" >Spilt Milk</a></p>
  <p class="empty">&nbsp;</p>
<p>Watch that video. The spill was from the dairy case over to produce. Carlos was nowhere to be found. I handled it and for your information, NO, not one SINGLE PERSON did anything about it. Not OPD, not sales floor, and not anyone stocking produce. Nobody got cones or stood by the spill.</p>
  <p class="empty">&nbsp;</p>
<h2 id="Really">3.15 - Really?</h2>
  <p class="empty">&nbsp;</p>
<p>While Carlos was on vacation I maintained the store well enough between 7:00am and 4:00pm that some days, with teamwork, I was able to help in OPD. Only on Tuesday after I had two days off did the store look worse for wear until I had time to clean it up.</p>
  <p class="empty">&nbsp;</p>
<p>Pull your heads out of the sand people, before I go Larry Bird on you all. Like with Larry Bird, is it really arrogance when you can back it up? I can back it up.</p>
  <p class="empty">&nbsp;</p>
<section class="quote">
<p class="attr">Larry Bird</p>
<p>Is your mother watching? I'm gonna embarrass you!</p>
</section>
</div>
